@{
    ViewBag.Title = "Login";
    ViewBag.Message = "Faça seu login:";
    @Styles.Render("~/Content/Login.css");
}

<div class="container" id="login-page">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("HandleLogin", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-4 form-group form-container">
            <p class="text-center form-title">@ViewBag.Message</p>
            <input type="text" id="login" name="login" placeholder="Login" class="form-control" />
            <input type="password" id="senha" name="senha" placeholder="Senha" class="form-control" />
            <button type="submit" class="form-control btn btn-success">Entrar</button>
            @if (null != ViewBag.ErrorMessage)
            {
                <p class="error-message">@ViewBag.ErrorMessage.</p>
            }
        </div>
    }
</div>

